{
  'rules': {
    'declaration-block-properties-order': [
      {
        'properties': ['content'],
      },
      {
        'properties': ['position', 'z-index', 'top', 'right', 'bottom', 'left'],
      },
      {
        'properties': ['float', 'clear'],
      },
      {
        'properties': ['display', 'width', 'min-width', 'max-width', 'height', 'min-height', 'max-height', 'padding', 'margin'],
      },
      {
        'properties': ['visibility', 'opacity', 'overflow'],
      },
      {
        'properties': ['background', 'border', 'border-radius', 'box-shadow'],
      },
      {
        'properties': ['list-style-type', 'list-style-image', 'border-collapse'],
      },
      {
        'properties': ['font-family', 'font-size', 'font-weight', 'font-style', 'line-height'],
      },
      {
        'properties': ['color', 'text-align', 'text-decoration', 'text-transform', 'word-wrap'],
      },
      {
        'properties': ['letter-spacing', 'word-spacing', 'text-shadow'],
      },
      {
        'properties': ['transform', 'cursor'],
      },
      {
        'properties': ['transition', 'animation'],
      }
    ],
  },
}
