@import 'animations.css';

/*TODO: add sourcemaps?*/

/* custom properties */
:root {
  --fontSize: 1rem;
  --mainColor: #333;
  --highlightColor: hwb(190, 35%, 20%);
}

/* custom media queries */
@custom-media --viewport-medium (width <= 50rem);
@custom-media --tablet (width >= 768px);

html,
body,
.Content,
.HomeScreen {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: var(--fontSize);
  line-height: calc(var(--fontSize) * 1.5);
  color: var(--mainColor);
  pointer-events: none;
  user-select: none;
}

/*main:media(--tablet) img {
  float: left;
  width: 300px;
}*/

/*img:container(width >= 768px) {
  float: left;
  width: 300px;
}*/

/* custom media query usage */
@media (--viewport-medium) {
  body { font-size: calc(var(--fontSize) * 1.2); }
}

/* custom selectors */
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
:--heading {
  margin: 0;
  /*font-weight: normal;*/
}

a {
  color: var(--highlightColor);
  transition: color 150ms;
  pointer-events: auto;
}

a:any-link {
  color: color(var(--highlightColor) blackness(+20%))
}

a:hover {
  color: black;
}

a:active {
  color: rebeccapurple
}

p :--heading {
  margin-bottom: 50px;
}

.Background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  /*background-color: var(--mainColor);*/
}

.HomeScreen {
  height: 100%;
  /*background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.75) 100%);*/
}

.Title,
.Info,
.Contact {
  height: 100%;
  display: flex;
  width: 100%;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: center;
}

.Heading {
  font-size: 48px;
  line-height: 1.5;
  color: var(--highlightColor);
  text-align: center;
  text-transform: lowercase;

  &--main {
    margin: 20px 0;
    /*font-weight: normal;*/
    line-height: 2;
    letter-spacing: 1px;
  }
}

.HeadingNote {
  display: block;
  font-size: 35%;
}

.SubHeading {
  display: block;
  font-size: 20px;
  font-weight: bolder;
  line-height: 1;
  /*color: var(--highlightColor);*/
  color: var(--mainColor);
  text-align: center;
  text-transform: lowercase;
  transition: all 750ms ease-out;
}

.Text {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.Info,
.Contact {
  /*padding-bottom: 10em;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+50 */
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
}

.Info,
.Contact,
.Footer {
  /*background-color: rgba(255,255,255, 0.75);*/
}

.Contact {
  text-align: center;
}

.FootNote {
  display: block;
  margin-top: 1em;
  font-size: 75%;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.Footer {
  display: block;
  padding: 20px 0 10px;
  text-align: center;
}

.FinePrint {
  font-size: 12px;
  letter-spacing: 1px;
}
